p{
    color: red;
    font-size: 22pt;
}
#gruby_zelewski{
    color: green;
    font-size: 17pt;
}
#dlawszytkich_zelewski{
    color: yellow;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}